.profile-container {
  display: grid;
  padding: 40px;
  column-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  row-gap: 20px;

  .item {
    height: 100%;
    grid-column-end: 3;
    grid-column-start: 1;
  }

  .item-2 {
    grid-row-start: 2;
  }
}
