.pagination-container {
  display: flex;
  justify-content: center;
  margin: $space-2xs;
  margin-bottom: $space-s;

  .pagination {
    display: flex;
    width: 75%;
    justify-content: center;

    &__item {
      padding: $space-2xs $space-3xs;
      text-align: center;

      &--selected {
        border-radius: 5px;
        background-color: $primary-200;
        color: $primary-400;
      }
    }

    &__link {
      width: 100%;
      height: 100%;
      padding: $space-2xs $space-xs;
      font-size: $font-small;
    }

  }
}