.header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  align-items: center;
  padding: $space-2xs 0;
  border-bottom: 1px solid $secondary-4;
  background-color: white;
  grid-template-columns: 30% 70%;

  @include tablet {
    grid-template-columns: 20% 60% 20%;
  }

  &__logo {
    width: 125px;
    height: 50px;
    padding-left: $space-2xs;
  }

  &--scrolled {
    border-bottom: $secondary-6 solid 0.5px;
    background-color: $color-background;
  }

  &__options-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: $space-3xs;

    .menu-button {
      width: 40px;
      border: none;
      border-radius: 5px;
      background-color: transparent;
      color: $secondary-11;
      font-size: $font-large;
      visibility: visible;

      .icon {
        width: 15px;
        height: 15px;
      }

      &:hover {
        @include home-item-hover;
      }
      @include tablet {
        display: none;
        visibility: hidden;
      }
    }

    .login-link {
      @include home-links;
      height: 30px;

      padding: $space-2xs $space-2xs;

      @include tablet {
        padding: $space-2xs $space-2xs;
        margin: 0 $space-2xs;
      }
    }
  }
}
