@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: verbatim;
  src: url('../assets/Verbatim-BoldOblique.ttf');
}

* {
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 0px;
}

.p-dataview-content {
  height: 61vh;
  border: 1px solid $secondary-3;
  border-radius: 20px;
  justify-self: center;
  overflow-x: auto;
}

.p-dropdown-items {
  border-radius: 5px;
  background-color: white;
}
