@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: verbatim;
  src: url('../assets/Verbatim-BoldOblique.ttf');
}

* {
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 0px;
}
