.home-container {
  width: 100%;
  background: linear-gradient($primary-5, $color-background 30%);
  font-family: verbatim;

  .image {
    height: 70vh;
    mask-image: linear-gradient(black 90%, transparent);
  }
}

.div-1 {
  @include tablet {
    width: 90%;
    background-position: bottom 0px right 0px;
  }
  width: 100%;
  min-height: 80vh;
  padding: 100px 20px;
  margin: 1vh 0 2vh 0;
  background-image: url('../../assets/foto2.png');
  background-position: bottom;
  background-repeat: no-repeat;
  mask-image: linear-gradient(black 80%, transparent);
}

.div-banner {
  @include tablet {
    width: 100%;
    background-position: bottom 0px right 0px;
  }
  width: 100%;
  min-height: 90vh;
  padding: 100px 20px;
  background-image: url('../../assets/foto2.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.div-2 {
  @include tablet {
    width: 90%;
    background-position: bottom 0px left -200px;
  }
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 100px 20px;
  margin: 10vh 0 15vh 0;
  background-image: url('../../assets/foto3.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 700px;
  mask-image: linear-gradient(black 90%, transparent);
  mask-position: top;
  mask-size: cover;
}
