/*$primary-1: #14100d;
$primary-2: #1d1611;
$primary-3: #301f10;
$primary-4: #422403;
$primary-5: #4f2d09;
$primary-6: #5e3b18;
$primary-7: #744c26;
$primary-8: #956230;
$primary-9: #ef9025;
$primary-10: #e3850d;
$primary-11: #f8a95f;
$primary-12: #fbe0ca;
$primary-a1: #d1000004;
$primary-a2: #fd74120d;
$primary-a3: #fa7a0a22;
$primary-a4: #fd6d0035;
$primary-a5: #fd7b0043;
$primary-a6: #fe932753;
$primary-a7: #fd9e436b;
$primary-a8: #fea2488e;
$primary-a9: #ff9927ee;
$primary-a10: #ff950de1;
$primary-a11: #ffae62f8;
$primary-a12: #ffe4cdfb;
$primary-contrast: #fff;
$primary-surface: #291b1180;
$primary-indicator: #ef9025;
$primary-track: #ef9025;*/
/*
$primary-1: #fdfdfe;
$primary-2: #f7f9ff;
$primary-3: #edf2fe;
$primary-4: #dfeaff;
$primary-5: #d0dfff;
$primary-6: #bdd1ff;
$primary-7: #a6bff9;
$primary-8: #87a5ef;
$primary-9: #3d63dd;
$primary-10: #3657c3;
$primary-11: #395bc7;
$primary-12: #1d2e5c;
$primary-a1: #00008002;
$primary-a2: #0040ff08;
$primary-a3: #0047f112;
$primary-a4: #0058ff20;
$primary-a5: #0052ff2f;
$primary-a6: #004eff42;
$primary-a7: #0048ee59;
$primary-a8: #0040dd78;
$primary-a9: #0032d2c2;
$primary-a10: #002ab3c9;
$primary-a11: #002cb7c6;
$primary-a12: #001347e2;
$primary-contrast: #fff;
$primary-surface: #f5f8ffcc;
$primary-indicator: #3d63dd;
$primary-track: #3d63dd;*/
/*$primary-1: #fcfcff;
$primary-2: #f9f8ff;
$primary-3: #f2f0ff;
$primary-4: #e8e5ff;
$primary-5: #ded9ff;
$primary-6: #d1c9ff;
$primary-7: #beb3ff;
$primary-8: #a794ff;
$primary-9: #6126cf;
$primary-10: #5403bd;
$primary-11: #6a41d2;
$primary-12: #331d6b;
$primary-a1: #0000ff03;
$primary-a2: #2500ff07;
$primary-a3: #2200ff0f;
$primary-a4: #1e00ff1a;
$primary-a5: #2200ff26;
$primary-a6: #2600ff36;
$primary-a7: #2500ff4c;
$primary-a8: #2e01ff6b;
$primary-a9: #4500c7d9;
$primary-a10: #5200bcfc;
$primary-a11: #3700c3be;
$primary-a12: #190058e2;
$primary-contrast: #fff;
$primary-surface: #f8f6ffcc;
$primary-indicator: #6126cf;
$primary-track: #6126cf;*/
$primary-1: #fdfdff;
$primary-2: #f6f9ff;
$primary-3: #eef1ff;
$primary-4: #e1e8ff;
$primary-5: #d4ddff;
$primary-6: #c2ceff;
$primary-7: #abbaff;
$primary-8: #8d9eff;
$primary-9: #3a26cf;
$primary-10: #3000bb;
$primary-11: #4b4be0;
$primary-12: #23256d;
$primary-a1: #0000ff02;
$primary-a2: #0055ff09;
$primary-a3: #002dff11;
$primary-a4: #003cff1e;
$primary-a5: #0136ff2b;
$primary-a6: #0033ff3d;
$primary-a7: #002eff54;
$primary-a8: #0027ff72;
$primary-a9: #1800c7d9;
$primary-a10: #3000bb;
$primary-a11: #0000d3b4;
$primary-a12: #000256dc;
$primary-contrast: #fff;
$primary-surface: #f4f8ffcc;
$primary-indicator: #3a26cf;
$primary-track: #3a26cf;

/*
$secondary-1: #111113;
$secondary-2: #19191b;
$secondary-3: #222325;
$secondary-4: #292a2e;
$secondary-5: #303136;
$secondary-6: #393a40;
$secondary-7: #46484f;
$secondary-8: #5f606a;
$secondary-9: #6c6e79;
$secondary-10: #797b86;
$secondary-11: #b2b3bd;
$secondary-12: #eeeef0;
$secondary-a1: #1111bb03;
$secondary-a2: #cbcbf90b;
$secondary-a3: #d6e2f916;
$secondary-a4: #d1d9f920;
$secondary-a5: #d7ddfd28;
$secondary-a6: #d9defc33;
$secondary-a7: #dae2fd43;
$secondary-a8: #e0e3fd60;
$secondary-a9: #e0e4fd70;
$secondary-a10: #e3e7fd7e;
$secondary-a11: #eff0feb9;
$secondary-a12: #fdfdffef;
$secondary-contrast: #ffffff;
$secondary-surface: rgba(0, 0, 0, 0.05);
$secondary-indicator: #6c6e79;
$secondary-track: #6c6e79;*/

$secondary-1: #fcfcfd;
$secondary-2: #f9f9fb;
$secondary-3: #eff0f3;
$secondary-4: #e7e8ec;
$secondary-5: #e0e1e6;
$secondary-6: #d8d9e0;
$secondary-7: #cdced7;
$secondary-8: #b9bbc6;
$secondary-9: #8b8d98;
$secondary-10: #80828d;
$secondary-11: #62636c;
$secondary-12: #1e1f24;
$secondary-a1: #00005503;
$secondary-a2: #00005506;
$secondary-a3: #00104010;
$secondary-a4: #000b3618;
$secondary-a5: #0009321f;
$secondary-a6: #00073527;
$secondary-a7: #00063332;
$secondary-a8: #00083046;
$secondary-a9: #00051d74;
$secondary-a10: #00051b7f;
$secondary-a11: #0002119d;
$secondary-a12: #000107e1;
$secondary-contrast: #000000;
$secondary-surface: #ffffffcc;
$secondary-indicator: #8b8d98;
$secondary-track: #8b8d98;
$color-background: #fff;

$info: #3a26cf;
$info-light: rgba(#0555cc, 0.05);
$info-dark: #5c90de;
$warning: #f3dc0f;
$warning-light: rgba(#ccb805, 0.05);
$warning-dark: #ded15c;
$danger: #e31313;
$danger-light: rgba(#f32032, 0.05);
$danger-dark: rgba(#e31313, 0.61);
$help-light: rgba(#6f544b, 0.05);
$help-dark: rgba(#6f544b, 0.61);
$undefined-light: #bdbdbd;
$undefined-dark: #8c8c8c;
$success: #2bd345;
$success-light: #2bd345;
$success-dark: #05cc25;
