$primary-1: #14100d;
$primary-2: #1d1611;
$primary-3: #301f10;
$primary-4: #422403;
$primary-5: #4f2d09;
$primary-6: #5e3b18;
$primary-7: #744c26;
$primary-8: #956230;
$primary-9: #ef9025;
$primary-10: #e3850d;
$primary-11: #f8a95f;
$primary-12: #fbe0ca;
$primary-a1: #d1000004;
$primary-a2: #fd74120d;
$primary-a3: #fa7a0a22;
$primary-a4: #fd6d0035;
$primary-a5: #fd7b0043;
$primary-a6: #fe932753;
$primary-a7: #fd9e436b;
$primary-a8: #fea2488e;
$primary-a9: #ff9927ee;
$primary-a10: #ff950de1;
$primary-a11: #ffae62f8;
$primary-a12: #ffe4cdfb;
$primary-contrast: #fff;
$primary-surface: #291b1180;
$primary-indicator: #ef9025;
$primary-track: #ef9025;

$secondary-1: #111113;
$secondary-2: #19191b;
$secondary-3: #222325;
$secondary-4: #292a2e;
$secondary-5: #303136;
$secondary-6: #393a40;
$secondary-7: #46484f;
$secondary-8: #5f606a;
$secondary-9: #6c6e79;
$secondary-10: #797b86;
$secondary-11: #b2b3bd;
$secondary-12: #eeeef0;
$secondary-a1: #1111bb03;
$secondary-a2: #cbcbf90b;
$secondary-a3: #d6e2f916;
$secondary-a4: #d1d9f920;
$secondary-a5: #d7ddfd28;
$secondary-a6: #d9defc33;
$secondary-a7: #dae2fd43;
$secondary-a8: #e0e3fd60;
$secondary-a9: #e0e4fd70;
$secondary-a10: #e3e7fd7e;
$secondary-a11: #eff0feb9;
$secondary-a12: #fdfdffef;
$secondary-contrast: #ffffff;
$secondary-surface: rgba(0, 0, 0, 0.05);
$secondary-indicator: #6c6e79;
$secondary-track: #6c6e79;

$color-background: #111;

$info-light: rgba(#0555cc, 0.05);
$info-dark: #5c90de;
$warning-light: rgba(#ccb805, 0.05);
$warning-dark: #ded15c;
$error-light: rgba(#f32032, 0.05);
$error-dark: rgba(#e31313, 0.61);
$help-light: rgba(#6f544b, 0.05);
$help-dark: rgba(#6f544b, 0.61);
$undefined-light: #bdbdbd;
$undefined-dark: #8c8c8c;
$success-light: #2bd345;
$success-dark: #05cc25;
