$primary-100: #fe0650;
$primary-200: rgba(#eb0a02, 0.1);
$primary-300: #cc0540;
$primary-400: #681222;
$secondary-100: #fff;
$secondary-200: #f4f5f7;
$secondary-300: #eae7e7;
$secondary-400: #c8c8c8;
$secondary-500: #acabab;
$secondary-600: #787878;
$secondary-700: #414141;
$secondary-800: #000;
$info-light: rgba(#0555cc, 0.05);
$info-dark: #5c90de;
$warning-light: rgba(#ccb805, 0.05);
$warning-dark: #ded15c;
$error-light: rgba(#f32032, 0.05);
$error-dark: rgba(#e31313, 0.61);
$help-light: rgba(#6f544b, 0.05);
$help-dark: rgba(#6f544b, 0.61);
$undefined-light: #bdbdbd;
$undefined-dark: #8c8c8c;
$success-light: #2bd345;
$success-dark: #05cc25;
