.register-form {
  display: block;

  @include tablet {
    //
    &__inputs-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__actions-container {
    display: flex;
    justify-content: end;
  }
}
