.main-container {
  display: grid;
  width: 100%;
  height: 100%;
  background: $secondary-2;

  .section-container {
    width: 1000px;
    width: 100%;
    height: 100%;
  }

  .outlet-container {
    display: flex;
    min-height: calc(100vh);
    justify-content: center;
    color: black;
  }
}
