.input {
  display: flex;
  flex-direction: column;
  margin: $space-2xs;

  &__title {
    font-size: large;
    font-weight: bold;
  }

  &__data-enter {
    padding: 0 $space-3xs;
    border: 1px solid $secondary-10;
  }
}
